* {
	font-family: sans-serif;
	font-size: 11px;
}

html {
	height: 100%;
}

body {
	margin: 1;
}

#thinHeader {
	background-color: #337ab7;
	top: 0px;
	padding: 2px;
	color: white;
	text-align: right;
}

#header {
	background-color: #565654;
	padding: 5px;
	overflow: hidden;
}

#fixedHeader {
	background-color: #565654;
	position: fixed;
	top: 0px;
	padding: 2px;
}

#fixedHeaderSpacing {
	margin-top: 26px;
	background-color: white;
	height: 15px;
}

#mainContent {}

.error {
	font-weight: bold;
	color: red;
}

.glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
	from { -webkit-transform:rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
	from { transform:scale(1)rotate(0deg);}
	to {transform: scale(1) rotate(360deg);}
}